@charset "utf-8";

body,
h1,
h2,
p {
    margin: 0;
    padding: 0;
}

img {
    vertical-align: bottom;
}

/* header */

header {
    background: rgb(0, 123, 255);
    max-width: 1500px;
    width: 100%;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    width: 100%;
    color: white;
    margin-top: 0px;

}

header ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

header li {
    padding-right: 36px;
}

header a {
    text-decoration: none;
    color: white;
    /* background-color: aqua; */
}

/* main .d1*/

main {
    /* background-color: aqua; */
    max-width: 1500px;
    width: 100%;

}

.d1 {
    width: 100%;
    height: 1000px;
    background-image: url(pexels-karolina-grabowska-4397910_0.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.gs {
    background-color: rgb(89, 150, 234,0.7);
    width: 50%;
    padding: 30px;
    /* flex: 1; */
    box-sizing: border-box;
    border-radius: 30px;
    position: absolute;
    left: 30%;
    top: 25%;
}

.gs h1 {
    font-size: 48px;
}

.second {
    color: yellow;
}

/* main.d2 */

.d2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    height: 100%;
}

.container {
    width: 45%;
    margin-bottom: 20px;
    padding: 10px;
    height: 800px;
    overflow: hidden;
}

.container img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.container img:hover {
    transform: scale(1.5 ,1.1);
   
}

.container h2 {
    margin: 40px 0 30px 0;
}

.container p {
    margin: 20px 0;
}

span {
    color: gray;
    
}

.en {
    color: red;
    font-size: 26px;
}

input {
    background-color: rgba(12, 29, 216, 0.819);
    padding: 12px 60px;
    border: 1px solid;
    font-weight: bold;
    opacity: 0.8;
}

input:hover {
    opacity: 1;
}